<h1>
  <%= I18n.t("accounts.new.title") %>
</h1>

<%= form_with(model: @user, url: accounts_path, data: { turbo: false }) do |form| %>
  <fieldset>
    <legend>Account creation</legend>

    <p>
      <%= form.label :email, "Email:" %>
      <%= form.email_field :email %>
    </p>

    <p>
      <%= form.label :name, "Name:" %>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label :password, "Password" %>
      <%= form.password_field :password %>
    </p>

    <p>
      <%= form.label :password_confirmation, "Confirm your password" %>
      <%= form.password_field :password_confirmation %>
    </p>

    <%= form.submit %>
  </fieldset>
<% end %>
